*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    text-align: center;
    margin: 50px 0;
}
.container{
    width: 80%;
    display:flex;
    flex-wrap: wrap;
    margin: 0 auto;   
}
.image{
    width: 24%;
    padding: 3px;
    filter: blur(3px) grayscale(80%) brightness(45%);
    transition: 0.5s linear;
}
.image:hover{
    filter: blur(0px) grayscale(0%) brightness(110%)

}
    

.author{
    text-decoration:none;
    color: aquamarine;
    font-size: 3em;
    border-left: 3px cornflowerblue;
    border-right: 3px solid palegreen ;
    padding: 0 10px;
}
.link{
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* @media print{
    .header{
        color: purple;
    }
}
@media all and (orientation:landscape){
    body{
        background-color: royalblue;
    }
} */
@media all and (max-width:550px){
    .image{
        width: 100%;
    }
}
@media all and (max-width:350px){
    body{
        background: linear-gradient(to right, green , red);
    }
}
@media all and (max-width: 150px){
    image{
        width: 100%;
        border-radius: 50%;
    }
}


